# \#*#
~
# Emacs ones
emacs.d.symlink/*
*.elc
# But don't ignore these specific locations.
!emacs.d.symlink/lisp
!emacs.d.symlink/site-lisp
!emacs.d.symlink/init.el
!emacs.d.symlink/.dir-locals.el

# nvim ignores
config/nvim.symlink/plugged
config/nvim.symlink/autoload/plug.vim
config/nvim.symlink/sessions

# tmux
config/tmux.symlink/plugins

# fish ignores
config/fish.symlink/*
 # keep below fish stuff
!config/fish.symlink/config.fish
!config/fish.symlink/functions
