# \#*#
~
# Emacs ones
emacs.d.symlink/*
*.elc
# But don't ignore these specific locations.
!emacs.d.symlink/lisp
!emacs.d.symlink/site-lisp
!emacs.d.symlink/init.el
!emacs.d.symlink/.dir-locals.el

# nvim ignores
config/nvim.symlink/plugged
config/nvim.symlink/autoload/plug.vim
